apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: "{{ .Values.mysql.image.repository }}:{{ .Values.mysql.image.tag }}"
          ports:
            - containerPort: 3306
          envFrom:
            - secretRef:
                name: mysql-secret
          volumeMounts:
            - name: mysql-initdb
              mountPath: /docker-entrypoint-initdb.d
            - name: mysql-storage
              mountPath: /var/lib/mysql
          
          livenessProbe:
            exec:
              command: ["mysqladmin", "ping", "-h", "127.0.0.1", "--password={{ .Values.mysql.rootPassword }}"]
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          
          readinessProbe:
            exec:
              command: ["mysqladmin", "ping", "-h", "127.0.0.1", "--password={{ .Values.mysql.rootPassword }}"]
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 1
            
      volumes:
        - name: mysql-initdb
          configMap:
            name: mysql-init-cm
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc
